.home {
  .lunar {
    margin-top: 10px !important;
    width: 360px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #cbc0ae;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px gray;
    .lunarleft {
      height: 80px;
      position: absolute;
      top: 15%;
      left: 6%;
      .day {
        font-size: 30px;
      }
      .week {
        font-size: 15px;
      }
    }
    .lunarmid {
      position: absolute;
      top: 30%;
      left: 25%;
      .cloud {
        width: 100px;
        height: 34px;
      }
    }
    .lunarright {
      position: absolute;
      right: 6%;
      top: 15%;
      writing-mode: vertical-rl;
      font-size: 15px;
      line-height: 25px;
    }
  }
  .poetry {
    box-shadow: 4px 4px 5px gray;
    margin-bottom: 10px !important;
    width: 360px;
    height: 225px;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #753a32;
    position: relative;
    .poetryleft {
      width: 50%;
      border-radius: 20px;
      position: absolute;
      top: 10%;
      left: 5%;
    }
    .poetryright {
      position: absolute;
      top: 10%;
      left: 60%;
      width: 40%;
    }
  }
  .author {
    box-shadow: 4px 4px 5px gray;
    margin-top: 10px;
    width: 360px;
    height: 225px;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #9d9d81;
    position: relative;
    .authorleft {
      width: 50%;
      border-radius: 20px;
      position: absolute;
      top: 10%;
      left: 5%;
    }
    .authorright {
      position: absolute;
      top: 10%;
      left: 60%;
      width: 40%;
    }
  }
}
.title1 {
  font-size: 20px;
}
.date1 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.title2 {
  font-size: 17px;
}
.author1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.date3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
