.login {
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 20%;

  .login-container {
    width: 330px;
    height: 360px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  }

  .login-checkbox-label {
    color: #753a32;
  }
}
.ant-card {
  background-color: #f0ebe1;
  box-shadow: 3px 3px 5px gray;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #753a32;
  border-color: #753a32;
}
.lunarmid1 {
  position: absolute;
  top: -50px;
  left: -1px;
  .cloud1 {
    width: 300px;
    height: 94px;
    z-index: 99;
  }
}
.ant-btn-primary {
  background-color: #753a32;
}
.ant-btn-primary:not(:disabled):hover {
  background-color: #753a32;
}
.bird1 {
  width: 190px;
  height: 200px;
  position: fixed;
  background: url('../../assets/birdone.svg') no-repeat;
  background-size: cover;
  right: 0;
  top: -1px;
  z-index: 99;
}
