.ant-float-btn-default {
  background-color: #753a32;
}
.ant-float-btn-default .ant-float-btn-body {
  background-color: #753a32;
}

.ant-float-btn-default
  .ant-float-btn-body
  .ant-float-btn-content
  .ant-float-btn-icon {
  color: #fff;
}
